@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-brown-background: #602c21;
  --gray-background-color: #bdbdbd;
  --light-background-color: #d9d9d9;
  --text-white-color: #ffff;
  --dark-text-color: #333333;
  --placeholder-text-color: #bdbdbd;
  --box-shadow:1px 5px 30px rgba(0, 0, 0, 0.12);
}
header{
    background-image: url('/img/apartment-beach-bed-bedroom-271643\ 1.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-brown-background);
  height: 100px;
}
.nav-container{
    margin-right: 100px;
}
.nav-container ul {
  list-style: none;
}
.nav-logo{
    margin-left: 100px;
    color: white;
}
.nav-logo img{
    height: 40px;
}
.nav-container ul li {
  display: inline-block;
  margin-left: 20px;
}

.nav-container ul li a {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: var(--text-white-color);
  text-transform: uppercase;
}

#btn-text{
    color: var(--main-brown-background);
    background: var(--light-background-color);
    padding: 10px 15px;
}
.landing-section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.landing-content{
    width: 700px;
    margin-left:200px ;

}

.landing-content p{
font-family: 'Libre Baskerville', serif;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 89px;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 20px;
}
.detail{
    margin-bottom: 20px;
    background: #602c21;;
    width: 554px;
    height: 147px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
    opacity: 0.9;
}

#second{
    width: 458px;
    height: 147px;
}